<div class="div_settings">
<p>{{routeHandlerVM}}</p>
		<h1 class="sett_h1">BHike</h1>
		<p id="error_log" class="login_field"></p>
		<p class="login_h1" data-ng-if="routeHandlerVM.functions.where('/deleteRoute/'+routeHandlerVM.route.id)">Confirm password to proceed.</p>
		<p class="login_h1" data-ng-if="routeHandlerVM.functions.where('/editRoute/'+routeHandlerVM.route.id)">Replace the information.</p>
		<p class="login_h1" data-ng-if="routeHandlerVM.functions.where('/createRoute')">Create a new route.</p>

		<form data-ng-submit="routeHandlerVM.functions.routeHandlerSwitcher()" >
			<fieldset class="login_field">
				<input type="text" name="title" class="inputs" placeholder="Route Title" required 
					data-ng-model="routeHandlerVM.route.title" 
					data-ng-readonly="!routeHandlerVM.functions.where('/createRoute')">
					<br>
				<input type="text" name="desc" class="inputs" placeholder="Description" required data-ng-model="routeHandlerVM.route.description"
					data-ng-readonly="routeHandlerVM.functions.where('/deleteRoute/'+routeHandlerVM.route.id)">
					<br>
				<input type="number" name="dist" class="inputs" placeholder="Distance (Km)" min="1" step="0.1" value="1" required
					data-ng-model="routeHandlerVM.route.distance"
					data-ng-readonly="routeHandlerVM.functions.where('/deleteRoute/'+routeHandlerVM.route.id)">
					<br>

				<div class="dur_time">
					<div>
						<label for="date" class="route_lab">Duration (HH:MM) </label>
						<div class="date_div">
							<input type="number" name="durationH" id="durH" class="inputs"
								placeholder="Hours" data-ng-model="routeHandlerVM.route.durationH"
								data-ng-readonly="routeHandlerVM.functions.where('/deleteRoute/'+routeHandlerVM.route.id)" required><br>
							<input type="number" name="durationM" id="durM" class="inputs"
								placeholder="Min" step="15" max="45" 
								data-ng-model="routeHandlerVM.route.durationM"
								data-ng-readonly="routeHandlerVM.functions.where('/deleteRoute/'+routeHandlerVM.route.id)" required><br>
						</div>
					</div>
					<div class="datetime">
						<label for="date" class="route_lab">Date and time of start.</label>
						<div class="date_div">
							<input type="date" name="date" id="date_route" class="inputs" placeholder="yyyy-MM-dd" value="{{ routeHandlerVM.route.dateSimple }}" data-ng-model="routeHandlerVM.route.dateSimple" data-ng-readonly="!routeHandlerVM.functions.where('/createRoute')" >
							<input type="time" name="time" class="inputs" id="time_route" placeholder="HH:mm"  value="{{ routeHandlerVM.route.timeSimple }}" data-ng-model="routeHandlerVM.route.timeSimple" data-ng-readonly="!routeHandlerVM.functions.where('/createRoute')" >
						</div>
					</div>
				</div>

				<input type="number" name="elevation" class="inputs"
					placeholder="Elevation (m)" min="0" step="100" required
					data-ng-model="routeHandlerVM.route.elevation"
					data-ng-readonly="routeHandlerVM.functions.where('/deleteRoute/'+routeHandlerVM.route.id)"><br>
				
				<fieldset data-ng-disabled="routeHandlerVM.functions.where('/deleteRoute/'+routeHandlerVM.route.id)">
					<label for="category" class="route_lab">Category of the route: </label>
					<div data-ng-repeat="cat in routeHandlerVM.categories">
						<!-- <input type="checkbox" value="{{ cat.id }}" name="category" > {{ cat.name }} <br>-->
						<input type="checkbox" data-ng-model="cat.Selected" data-ng-checked="routeHandlerVM.functions.checkCats(cat.name)"> {{cat.name}} <br>
					</div>
				</fieldset>
				<label for="difficulty" class="route_lab">Difficulty of the route: </label> 
				<select name="difficulty" required data-ng-disabled="routeHandlerVM.functions.where('/deleteRoute/'+routeHandlerVM.route.id)"  data-ng-model="routeHandlerVM.route.difficulty">
					<option data-ng-show="routeHandlerVM.functions.where('/createRoute')"> Please select </option>
					<option data-ng-show="!routeHandlerVM.functions.where('/createRoute')" value="1" data-ng-selected="routeHandlerVM.route.difficulty == 1"> Easy selected </option>
					<option data-ng-show="!routeHandlerVM.functions.where('/createRoute')" value="2" data-ng-selected="routeHandlerVM.route.difficulty == 2"> Medium selected </option>
					<option data-ng-show="!routeHandlerVM.functions.where('/createRoute')" value="3" data-ng-selected="routeHandlerVM.route.difficulty == 3"> Difficult selected </option>
					<option value="1" data-ng-show="routeHandlerVM.functions.where('/createRoute')"> Easy </option>
					<option value="2" data-ng-show="routeHandlerVM.functions.where('/createRoute')"> Medium </option>
					<option value="3" data-ng-show="routeHandlerVM.functions.where('/createRoute')"> Difficult </option>
				</select>

				<input type="password" data-ng-model="routeHandlerVM.confirmPassw" class="inputs" placeholder="Confirm Password to proceed" required data-ng-show="routeHandlerVM.functions.where('/deleteRoute/'+routeHandlerVM.route.id)">
				<br>

			</fieldset>
			<div class="create_us">
				<input name="sub_log" type="submit" class="butt_log" value="Edit" data-ng-show="routeHandlerVM.functions.where('/editRoute/'+routeHandlerVM.route.id)">
				<input name="sub_log" type="submit" class="butt_log" value="Delete" data-ng-show="routeHandlerVM.functions.where('/deleteRoute/'+routeHandlerVM.route.id)">
				<input name="sub_log" type="submit" class="butt_log" value="Create Route" data-ng-show="routeHandlerVM.functions.where('/createRoute')">
				
				<a class="cancel_c" href="#!/" data-ng-show="!routeHandlerVM.functions.where('/deleteRoute/'+routeHandlerVM.route.id)"> Cancel </a>
				<a class="cancel_c" href="#!/editRoute/{{routeHandlerVM.route.id}}" data-ng-show="routeHandlerVM.functions.where('/deleteRoute/'+routeHandlerVM.route.id)"> Cancel </a>
				<br>
				<br>
				<a class="delete_account" href="#!/deleteRoute/{{routeHandlerVM.route.id}}" data-ng-show="routeHandlerVM.functions.where('/editRoute/'+routeHandlerVM.route.id)"> Delete Route </a>
			</div>
		</form>
</div>

