<div class="rtUsr_container">
	<div>
		<div class="div_logo">
			<img class="img_logo" alt="BHike" src="../img/BHike_purple.png">
		</div>
		<p> If you are searching for a new adventure this is your page.</p>
		<br>
	</div>
	<h2>Routes by users:</h2>
	<div class="div_routesUsr" data-ng-if="routesByUser.first != ''">
		<div class="routes_container">
			<div data-ng-repeat="routesByUser in searchVM.routes">

				<div class="user_routes" data-ng-if=" route.blocked != 1 "
					data-ng-include="'include/routeFrameSearch.htm'">
				</div>

			</div>
		</div>
		<br>

	</div>
	<div class="blocked_container">
		<div data-ng-repeat="routesByUser in searchVM.routes">
			<div class="user_routes" id="block_div" data-ng-if=" route.blocked == 1 "
				data-ng-include="'include/routeFrameSearch.htm'">
			</div>
		</div>
	</div>
</div>